body {
    font-family: Arial, sans-serif;
    background-color:burlywood;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;
    background: url("./photo/Cafeteria15L-1.jpg");
    background-size: cover;
    /* background: linear-gradient(to top, red, orange, yellow, green, blue, indigo, violet); */
}
div.scrollmenu {
  /* background-color */
  overflow: auto;
  white-space: normal;

}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: black;

}

div.scrollmenu a:hover {
  background-color: #777;
}
span{
    float: right;
    text-align: center;
}

.form-container {
    background-color:khaki;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 100%;
}
.form-container h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
}
.form-container label {
    /* display: block; */
    margin-bottom: 8px;
    font-weight: bold;
}   
.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #0056b3;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
  /* div{
    display: inline-block;
  } */